@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&family=Sniglet&display=swap');

html {
    box-sizing: border-box;
    font-size: 100%;
}

* {
    box-sizing: inherit;
}

:root {
    /* --primary-color: #F7D6BF;
    --secondary-color: #005086;
    --extra-color: #B0CAC7; */
    --primary-color: #e1ffc2;
    --secondary-color: #092532;
    --extra-color: #89c9b8; 
    --color1: #c7e2b2;    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.hero {
    background-color: var(--primary-color);
    height: 55vh;
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.hero header {
    align-self: flex-start;
    font-size: 0.8rem;
    margin-bottom: 6em;
    font-family: 'Sniglet', cursive;
}

main {
    background-color: var(--extra-color);
    height: 55vh;
    width: 100%;
    max-width: 500px;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 2em;
    padding-top: 5.5em;
}

.receiver,  .message-box {
    width: 90%;
    color: var(--primary-color);
    font-size: 1.2rem;
    padding: 1em .5em;
    border: none;
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.receiver {
    margin: 1em 0;
}
.receiver::placeholder,  .message-box::placeholder {
    color: var(--primary-color);
    opacity: 0.6;
}
.btn-send {
    background-color: var(--color1);
    color: var(--secondary-color);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 0.5em 3em;
    margin-top: 1.5em;
}
.btn-send:hover {
    background-color: var(--primary-color);
}